.app-title {
  font-family: arial black;
  font-size: 6em;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

.in-out-container {
  display: flex;
  justify-content: center;
}

.in-out-btn {
  margin-left: 5px;
  margin-right: 5px;
}
